/* || SITEWIDE */

html {
    box-sizing: border-box;
    background-color: #AE002B;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin-top: 0;
}

h1,
h2,
h3 {
    color: #800020;
}

a {
    color: #FF2511;
}

::selection {
    background-color: #116530;
    color: #FFFFFF;
}

dt::after {
    content: ":";
    font-weight: bold;
}

/* || Header & Navbar Layout  //Lab5 - Exercise 4  */

header {
    border-top: 4px solid rgb(0, 0, 0, 0.3);
    margin: 0 -2em 0;
}

header nav {
    border-bottom: 1px dotted rgb(0, 0, 0, 0.3);
    margin: 0 2em 2em;
}

header li {
    display: inline-block;
    padding: 1em 1em 0.5em;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    border-top: 4px transparent rgb(0, 0, 0, 0.3);
    padding: 1em 1em 0.5em;
    color: #116530;
}

nav a:hover {
    border-top: 4px solid #FF2511;
}

/* || Table Style  //Lab5 - Exercise 5 */

th,
td {
    padding: 0.3em 1em;
}

thead tr,
tbody tr,
tfoot tr {
    background-color: rgb(0, 0, 0, 0.2);
}

tr {
    background-color: rgb(0, 0, 0, 0.05);
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.15);
}

/* || Form Styling  //Lab5 - Exercise 6 */





/* || main div */

.width-wrap {
    max-width: 960px;
    margin: auto auto 3em;
    padding: 0 2em 2em;
    border-width: 1px;
    border-style: none solid solid solid;
    border-color: rgb(0, 0, 0, 0.3);
    background-color: #F9CCD3;
}

/* ||Footer */

footer hr {
    width: 50vw;
    max-width: 890px;
    min-width: 300px;
    margin-top: 3em;
    margin-bottom: 2em;
    border: none;
    border-bottom: 3px dotted #710019;
}